**/.pbi/localSettings.json
**/.pbi/cache.abf
**/pbi/
.pbi/
**/fissal/hitos_paciente/__pycache__
**/fissal/comparativo_crc_estomago/__pycache__
**/.claude
**/.claude/settings.local.json
**/output/
**/**/output
**/__pycache__/
**/**/__pycache__/